<template>
    <div class="chain-planner">
        <div class="header">
            <div class="header-title">
                <div class="button" @click="show">
                </div>
                <div class="title">
                    Задать параметры ходовой смены
                </div>
            </div>
            <div class="header-graph" v-show="visible">
                <div class="graph-title">
                    Числа месяца
                </div>
                <div class="header-graph-days">
                    <div class="header-graph-day"
                         v-for="(day, index) in days"
                         :key="index"
                         :style="getWidth"
                    >
                        {{ day }}
                    </div>
                </div>
            </div>
        </div>
        <div class="planner-body" v-show="visible">
            <div class="planner" @click="getPlane">
                <p>Распределить выхода</p>
            </div>

            <div class="planner-chain">
                <div class="planner-chain-block" v-for="(item, index) in tabs">
                    <div class="chain-number" :style="getActiveChain(item)">
                        Звено {{ index+2 }}
                    </div>
                    <div class="chain-header" :style="getActiveHeader(item)">
                        {{ item.chainer }}
                    </div>
                </div>
            </div>

            <!--<div class="planner-graph">
                <div class="planner-graph-block" v-for="(item, index) in tabs.length">
                    <div class="planner-graph-block-cell-day"
                         v-for="(day, index) in scheduleCounter(3, 1, index)"
                         :key="index"
                         :style="[colors(day), getWidth()]">
                        {{ day }}
                    </div>
                </div>
            </div>-->
            <div class="planner-graph">
                <div class="planner-graph-block" v-for="(item, index) in shifts">
                    <div class="planner-graph-block-cell-day"
                         v-for="(day, index) in item"
                         :key="index"
                         :style="[colors(day), getWidth]">
                        {{ day }}
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                products: [],
            }
        },
        created() {
            this.loadProductsList();
        },
        methods: {
            loadProductsList() {
                axios
                    .get("/api/products/test")
                    .then(response => (this.products = response.data))
                    .catch(error => console.log(error));
            },
            sendPost() {
                axios
                    .get("/api/products/GetProductList")
                    .then(response => (this.products = response.data))
                    .catch(error => console.log(error));
            },
            viewProductDetails(id) {
                this.$router.push('products/' + id);
            }
        },
        computed: {

            getWidth() {
                return { width: 'calc(100% /' + this.days + ')'};
            },
            shiftPlanner() {

                let shifts = this.shifts.reverse();

                /*this.$parent.tabs.forEach( item => {
                    if(item.type == 2) {
                        let i = 0;
                        item.workers.forEach(elem => {elem.schedule = this.scheduleCounter(3, 1, i++)});
                    };*/

                    this.$parent.tabs
                        .filter(item => item.type == 2)
                        .forEach( item => {
                            let i = 0;
                            item.workers.forEach(elem => {
                                elem.schedule = this.scheduleCounter(3, 1, i++)
                            });
                        });

                    let tab = this.$parent.tabs.filter(item => item.type == 3).reverse();
                    for(let i = 0; i < this.$parent.tabs.length; i++) {

                        tab[i].workers.forEach(item => item.schedule = [...shifts[i]]);
                    };

                // });
            }
        },
        beforeMount() {
            // console.log('tabs', this.tabs);
        }
    }
</script>

<style lang="less" scoped>
    .chain-planner {
        /*margin-top: 40px;*/
        width: 1676px;
        border: 2px solid var(--bluePurple);
        margin-bottom: 100px;
    }
    .header {
        display: flex;
        height: 30px;
        background: var(--bluePurple);
        &-title {
            display: flex;
            width: 750px;
            .button {
                width: 50px;
            }
            .button img {
                margin-top: 5px;
                width: 15px;
                height: 10px;
            }
            .title {
                padding-left: 10px;
                font-size: 20px;
            }
        }
        &-graph {
            width: 900px;
            height: 30px;
            font-size: 10px;
            &-title {
                height: 12px;
                font-size: 10px;
            }

            &-days {
                padding-left: 7px;
                display: flex;
                height: 20px;

            }
            &-day {
                min-width: 25px;
                width: 30px;
            }
        }
    }
    .planner-body {
        display: flex;
        width: 100%;
        /*height: 120px;*/
        background: var(--white);
    }
    .planner {
        width: 250px;
        /*height: 120px;*/
        color: var(--border-gray);
        border-right: 1px solid var(--border-gray);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
    }
    .planner img {
        margin-top: 10px;
        width: 80px;
        height: 80px;
    }
    .planner p {
        position: relative;
        top: -10px;
        font-size: 16px;
    }
    .planner-hide {
        transform: rotate(180deg);
    }

    .planner-chain {
        width: 509px;
        color: var(--black);
        border-right: 1px solid var(--border-gray);
        &-block {
            display: flex;
            height: 30px;
            width: 100%;


            .chain-number {
                padding-top: 2px;
                width: 120px;
                height: 28px;
                color: #fff;
                background: var(--bluePurple);
                border-bottom: 1px solid var(--white);
            }
            .chain-header {
                width: 100%;
                height: 30px;
                font-size: 18px;
                padding-top: 2px;
                padding-left: 10px;
                text-align: left;
                border-bottom: 1px solid var(--border-bottom-gray);


            }
        }
    }

    .planner-graph {
        border-left: 1px solid var(--border-gray);
    }
    .planner-graph-block {
        display: flex;
        width: 890px;
        height: 30px;
        background: #fff;
        color: #000;
        border-bottom: 1px solid var(--border-bottom-gray);
    }
    .planner-graph-block-cell-day {
        padding-top: 4px;
        border-right: 1px solid var(--border-gray);
        /*border-bottom: 1px  solid var(--border-gray);*/
    }
</style>